<div class="App">
  <section>
    <nav role="navigation">
        <button type="button" class="btn">
          Open Dialog
        </button>
    </nav>
    <DialogContainer></DialogContainer>
  </section>
</div>